<div class="container">
  <div class="columns is-centered">
    <div class="column">
        {{!-- {{>entries}} --}}
    </div>

    <div class="column">
      <div class="box">
        <p class="title">{{entry.title}}</p>
        <p class="is-4">{{entry.content}}</p>
      </div>
    </div>
  </div>
</div>

