<div class="columns">
    <div class="column">
        <div class="box">
            <a href="#">
                <p class="title">
                    {{title}}
                    <span class="icon is-small"> 
                        <i class="fa-solid fa-pencil"></i>
                        <i class="fa-solid fa-trash-can"></i>
                    </span>
                </p>
            </a>
        </div>
    </div>
</div>