<div class="column is-half-tablet is-two-thirds-desktop is-one-quarter-widescreen">
    <a href="/journals/{{id}}">
        <div class="box journals {{background}} has-text-centered">
            <p class="title has-text-white mt-6">{{title}}</p>
            <p class="subtitle mt-5 pt-5 has-text-weight-bold has-text-white">{{description}}</p>

            <div class="field buttons is-right mt-6 pt-6">
                <p class="control">
                    <button class="button is-primary is-light">
                        <span class="icon is-small">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                    </button>
                </p>

                <p class="control">
                    <button class="button is-danger is-light">
                        <span class="icon is-small">
                            <i class="fa-solid fa-trash-can"></i>
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </a>
</div>
