<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bullet Journal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Merriweather:wght@300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bulma/bulma.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/eb432245f2.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="green" style="has-background-grey-lighter">
        <h1 class="title is-family-secondary is-size-2-mobile is-size-1 has-text-centered p-3">Bullet Journal</h1>
        {{#if logged_in}}
        <nav class="navbar green" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a href="/dashboard" class="navbar-item is-family-secondary">
                        Home
                    </a>
                </div>
                <div class="navbar-end">
                    <button id="logout" class="navbar-item is-family-secondary">
                        Logout
                    </button>
                </div>
            </div>
        </nav>
        {{/if}}
    </header>

    <main>
        <div>
            {{{body}}}
        </div>
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{else}}
    <script src="/js/login.js"></script>
    {{/if}}

</body>

</html>