<div class="columns is-centered is-mobile">
    <div class="column is-three-fifths">
        <form id="newEntry">
            <div class="field">
                <div class="control">
                    <input id="title" class="input" type="text" placeholder="Enter Title here">
                </div>
            </div>

            <div class="control">
                <textarea id="content" class="textarea is-large" placeholder="Enter your thoughts here..."></textarea>
            </div>
        </form>

    </div>
</div>

<script src="/public/js/createEntry.js"></script>