<div class="columns is-centered is-mobile">
    <div class="column is-three-fifths">
        <form id="newJournal">
            <div class="field">
                <label for="newJournalTitle" class="label">New Journal Title</label>
                <div class="control">
                    <input id="newJournalTitle" class="input" type="text" placeholder="Title">
                </div>
            </div>

            <div class="field">
                <label for="newJournalDesc" class="label">New Journal Description</label>
                <div class="control">
                    <textarea class="textarea is-large" placeholder="A journal about..."></textarea>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/public/js/createJournal.js"></script>