<section class="block">
    {{#if journals}}
    <div class="columns is-centered my-4">
        <div class="column is-two-thirds-tablet is-three-quarters-desktop my-3">
            <h2 class="p-3 is-family-secondary is-size-3  has-text-black has-border-color-black is-rounded">Select a Journal</h2>
        </div>
        <div class="column is-one-third-tablet is-one-quarter-desktop my-3">
            <button id="create-journal" class="button is-black is-outlined">
                <span class="is-hidden-tablet">
                    <i class="fa-solid fa-plus is-size-3 is-black"></i>
                </span>
                <span class="is-hidden-mobile is-size-3 has-text-black">Create New Journal</span>
            </button>
        </div>
    </div>

    <div class="columns is-centered my-3">
        {{#each journals}}
        {{>journal-partial}}
        {{/each}}
    </div>

    {{else}}
    <div class="hero is-halfheight">
        <div class="hero-body justify-content-center">
            <button id="create-journal" class="button is-black is-outlined">
                <span class="is-hidden-mobile is-size-3 has-text-black">Create New Journal</span>
            </button>
        </div>
    </div>
    {{/if}}
</section>

<script src="/js/createJournalButton.js"></script>
{{#if journals}}
<script src="/js/journal.js"></script>
{{/if}}

<ol data-joyride data-autostart="true" id="tour">
    <li data-button="#Start Tour">Welcome to Bullet Journal! Let's get started.
        Click the "Start Tour" button to take a guided tour of the site.</li>

    <li data-id="#create-journal">The first step is to create your first journal.
        You can have as many separate journals as you'd like.</li>

    <li data-id="#newJournal">Enter a title and description for your new journal.
        Then click the "Create" button or press <span
            style="font-style: italic">Enter</span>.</li>

    <li data-class=".journal">Click on a journal to view its entries.
        Alternatively, click the <i class="fa-solid fa-pencil"></i></i> or <i
            class="fa-regular fa-trash-can"></i> icons to edit a journal's title
        or description or delete the journal.</li>

    <li data-id="#create-entry-button">Now that you've created a journal, you can
        create entries in that journal by clicking the "Create New Entry"
        button.</li>

    <li data-id="#newEntry">Enter a title for your entry, then enter your
        content. When you're done, click the "Create" button or click <span
            style="font-style: italic">Enter</span>.</li>
</ol>