<section class="block">
    <h2 class="p-3 is-family-secondary is-size-3 has-text-centered m-4">
        {{title}}</h2>
    <section class="columns is-centered justify-content-center">
        <div class="column justify-content-center p-2">
            {{#unless entries}}
            <p class="has-text-centered is-size-5 is-family-secondary">This
                journal has no entries! Would you like to create one?</p>
            {{/unless}}

            <button id="create-entry-button"
                class="tan button is-outlined my-3">Create New
                Entry</button>

            {{#if entries}}
            {{#each entries}}
            {{>entries}}
            {{/each}}
            {{/if}}
        </div>

        {{#if entry}}
        {{>entry}}
        {{/if}}
    </section>
</section>

<script src="/js/createEntryButton.js"></script>
{{#if entries}}
<script src="/js/entries.js"></script>
{{/if}}