html, body {
    min-height: 100%;
    color: black;
    font-family: 'Merriweather', serif;
}

.green {
    background-color: #5f8f7e;
    font-family: 'Montserrat', sans-serif;
} 
.green-title{
    font-family: 'Orelega One', cursive;
}
.red {
    background-color: #cf6c71;
    font-family: 'Tenor Sans', sans-serif;
    font-family: 'Archivo Narrow', sans-serif;
}

.blue {
    background-color: #338894;
    font-family: 'Forum', cursive;
    font-family: 'Work Sans', sans-serif;
}

.pink {
    background-color: #e46087;
    font-family: 'Della Respira', serif;
    font-family: 'Open Sans', sans-serif;
}

.purple {
    background-color: #69579e;
    font-family: 'DM Serif Display', serif;
    font-family: 'Red Hat Display', sans-serif;
}

.title-text {
    font-family: 'Karla', sans-serif;
}

.body-text {
    font-family: 'Merriweather', serif;
}

.journals {
    height: 400px;
    width: 306px;
}

.green-notebook {
    background-image: url(../assets/images/green.png);
    font-family: 'Orelega One', cursive;

}

.blue-notebook {
    background-image: url(../assets/images/blue.png);
    font-family: 'Forum', cursive;
}

.pink-notebook {
    background-image: url(../assets/images/pink.png);
    font-family: 'Della Respira', serif;
}

.purple-notebook {
    background-image: url(../assets/images/purple.png);
    font-family: 'DM Serif Display', serif;
}

.red-notebook {
    background-image: url(../assets/images/red.png);
    font-family: 'Tenor Sans', sans-serif;
}

.subtitle {
    width: 200px;
    text-align: center;
    padding-left: 87px;
    font-size: 1em;
}

.title {
    font-size: 2.5em;
}

.journal-container {
    margin-left: 5%;
}


.icon-holder {
    margin-left: 10%;
}

.update-holder {
    height: 10%;
    margin-top: -15px;
    margin-right: -15px;
}

.update {
    height: 20px;
    width: 10px;
}

.journal-title {
    background-color: #ffffffcb;
    border-radius: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}