html, body {
    min-height: 100%;
    color: black;
    font-family: 'Merriweather', serif;
}
html {
    /* background-image: url(../assets/dots.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:0 auto; */
    background-color: #e8e3e2;
}

.green {
background-color: #5f8f7e;
} 

.red {
    background-color: #cf6c71;
}

.blue {
    background-color: #338894;
}

.pink {
    background-color: #e46087
}

.pink-light {
    background-color: #ffcdce;
}

.dotted {
    background-image: url(../assets/little-dots.png);
}

.title {
    font-family: 'Karla', sans-serif;
}
.body{
    font-family: 'Merriweather', serif;
}
